<div class="topnav">
  <img src="/images/favicon.png">
  <a href="/">Home</a>
  
  {{#if user}}

  <a href="/logout"> Log Out </a>

  {{else}}

  <a href="/login">Login</a>
  <a href="/registration">Register</a>

  {{/if}}
  
  <a href="/profile"> Dashboard </a>
  <a href="/products">Products</a>
  
</div>

<div class="loginform"> 

<strong>Welcome to your profile, {{user.fname}} {{user.lname}}! You are an administrator. </strong><br> 

<fieldset class="loginform">
<form method="POST" action="/admin/edit/{{_id}}?method=PUT" enctype="multipart/form-data">
  <div class="container">
    <h1>Edit a Product</h1>
    <p>Please fill in this form to edit a product that is in the database as an administrator.</p>
    <hr>

    <label for="description"><b>Description</b></label>
    <input type="text" name="description" placeholder="Enter the product description." value={{description}}><br>

    <label for="title"><b>Product Title</b></label>
    <input type="text" name="title" placeholder="Enter the product title." value={{title}}><br>

    <label for="price"><b>Product Price</b></label><br>
    <input type="text"  name="price" placeholder="$" value={{price}}><br><br>


    <label for="category"><b>Product Category</b></label>
    <input type="text"  name="category" placeholder="Enter the product category." value={{category}}>


    <p>Is this product a bestseller?</p>
    <label for="bestSeller"><b>Yes</b></label>
    <input type="radio"  name="bestSeller" value="1" {{#if bestSeller}} checked {{/if}}>

    <label for="bestSeller"><b>No</b></label>
    <input type="radio"  name="bestSeller" value="" {{#if bestSeller}} {{else}} checked {{/if}}> <br><br>

    <label for "productPic"><b> Upload Picture </b></label>
    <input type="file" name="productPic" accept="image/*">

    <p>{{productPic}}</p>



    <div class="clearfix">
      <button type="submit" class="signupbtn">Update</button>
    </div>
  </div>
</form>
</fieldset>

<a href="/adminproducts">Add Products</a>

</div>